{% extends 'base.html' %}

{% block title %}Enter new password{% endblock %}

{% block content %}
    <h1>Set a new password!</h1>
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <div class="form-row">
                <div class="col-md-4">
                    {{form.as_p}}
                    <input type="submit" class="btn btn-primary btn-block" value="Change my password">
                </div>
            </div>
        </div>
    </form>
{% endblock %}